
<h3>Edit Task</h3>
<div class="form">
    <%= simple_form_for (@task) do |f| %>
        <div><%= f.label :title %></div>
        <div><%= f.text_field :title %></div>
        <div><%= f.label :details %></div>
        <div><%= f.text_area :details %></div>
        <div>
            <%= f.label :completed %>
            <%= f.check_box :completed %>
        </div>

    <%= f.submit %>
    <% end  %>
<div>
